h1 {
    position: absolute;
    left: 35%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
}

#word-area, #hangman-area {
    position: relative;
    left: 35%;
}

#hangman-area {
    margin-top: 100px;
}
#letter-lines {
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-size: x-large;
}
#Play {
    position: relative;
    left: 35%;
    font-size: large;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#A-M, #N-Z {
    margin-top: 10px;
}

.alphabet {
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
}
#play {
    font-size: large;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-left: 275px;
}

